{% extends "base.html" %}
{% load filter %}

{% block content %}

<br>

{% if scheduled %}
<font color="red">SCHEDULED: {{ puzzle.scheduled_date }}</font>
{% endif %}

<h1 class="uppercase">
    {{ puzzle.subject }}
    <span class="text-success"> PUZZLE</span>
</h1>

<div class="row">
    <div class="col-lg-8 lead">
        <a href="{% url 'puzzle' puzzleID=puzzle.id %}">
            <div class="alert alert-success">
                <h1 class="alert-heading">{{ puzzle.title }}</h1>

                <p>{{ puzzle.question|linebreaks }}</p>
                <hr>
                    <p class="details">Points for correct answer: {{ puzzle.correct_points }}
                    <span class="align-right">Posted: {{ puzzle.datetime }}</span></p>
                
                    <p class="details">Points for incorrect answer: {{ puzzle.incorrect_points }}
                    {% if closed %}
                    <span class="align-right">Closed: {{ puzzle.end_date }}</span></p>
                    {% else %}
                    <span class="align-right">Closes: {{ puzzle.end_date }}</span></p>
                    {% endif %}
                </span>

            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <div class="col-lg-12 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome To Add Solution!</h5>
                    <p class="card-text">Use this opportunity to share how you solved the puzzle!</p>
                    <p class="card-text">Puzzling is always more fun together :)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

{% if scheduled %}
    Cannot submit solution to a puzzle that is not live yet!
{% elif attempted or closed %}
    <div class="card bg-light">
        <div class="card-header subtitle">
                by <a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h5 class="card-title">Title: {{ form.title|addcss:"form-control" }}</h5>
                <p class="card-text">Content: {{ form.content|addcss:"form-control" }}</p>
                <button type="submit" class="btn btn-primary ">Submit Solution</button>
            </form>
        </div>
    </div>
{% else %}
    You must <a href="{% url 'puzzle' puzzleID=puzzle.id %}">submit an answer</a> before you can engage in discussion!
{% endif %}

{% endblock %}
