{% extends "base.html" %}
{% load filter %}

{% block head %}
<title>Edit Puzzle</title>
{% endblock %}

{% block content %}

{% if messages %}
<br>
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable {{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh no!</strong> {{ message }}
      </div>
    {% endfor %}
  </ul>
{% else %}
<br>
{% endif %}

<form method="post">
    {% csrf_token %} {% if scheduled %}
    <font color="red">SCHEDULED: {{ puzzle.scheduled_date }}</font>
    {% endif %}
    <h1 class="uppercase">{{ form.subject }}
        <span class="text-success"> PUZZLE</span>
    </h1>
    <div class="row">
        <div class="col-lg-8 lead">
            <div class="alert alert-dismissible alert-success">
                <h5>Title: {{ form.title|addcss:"form-control" }}</h5>
                {{ form.title.errors }}
                <h5>Question: </h5>
                {{ form.question|addcss:"form-control" }} {{ form.question.errors }}
                <h5>Answer: {{ form.answer|addcss:"form-control" }}</h5>
                {{ form.answer.errors }}
                <h5>Points for correct answer: {{ form.correct_points|addcss:"form-control" }}</h5>
                {{ form.correct_points.errors }}
                <h5>Points for incorrect answer: {{ form.incorrect_points|addcss:"form-control" }}</h5>
                {{ form.incorrect_points.errors }}
                <h5>Posted: {{ puzzle.datetime }}</h5>
                {% if scheduled_in_future %}
                    <h5>Scheduled Date: {{ form.scheduled_date|addcss:"form-control" }}</h5>
                    {{ form.scheduled_date.errors }}
                {% else %}
                <h5>Scheduled Date: {{ puzzle.scheduled_date }}</h5>
                {% endif %}
                <h5>End Date: {{ form.end_date|addcss:"form-control" }}</h5>
                {{ form.end_date.errors }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 ">
                <div class="card bg-faded">
                    <div class="card-body">
                        <h5 class="card-title">Submission</h5>
                        <p class="card-text">This is where students will submit their answer.</p>
                        <br>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}