{% extends "base.html" %}

{% block head %}
<title>Reset Password</title>
{% endblock %}

{% block content %}
<br>
<div class="text-center">
{% if validlink %}
    <h1>Change password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
{% else %}
    The password reset link was invalid, possibly because it has already been used.
    <br>
    Please request a new password reset.
{% endif %}
</div>
{% endblock %}