{% extends "base.html" %}
{% load filter %}

{% block head %}
<title>Edit Profile</title>
<link rel="stylesheet" type="text/css" href="profile.css">
{% endblock %}

{% block content %}
<br>
<h1><center>hello <b>{{ user.first_name }}</b></center></h1>

<h2><a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>'s Profile</h2>
<form method="post">
{% csrf_token %}
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">First Name</th>
            <td>{{ form.first_name|addcss:"form-control" }}</td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>{{ form.last_name|addcss:"form-control" }}</td>
        </tr>
        <tr>
            <th scope="row">Teacher</th>
            <td>{% if user.profile.teacher %} Yes {% else %} No {% endif %}</td>
        </tr>
        <tr>
            <th scope="row">Year</th>
            <td>{{ form.year|addcss:"form-control" }}</td>
        </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Edit</button>
</form>

{% endblock %}